<div class="table">
  <div class="header-table">
    <div class="header-item item-1">Nombre</div>
    <div class="header-item item-2">Identificación</div>
    <div class="header-item item-3">Email</div>
    <div class="header-item item-4">Celular</div>
    <div class="header-item item-5">Usuario</div>
    <div class="header-item item-6">Estado</div>
    <div class="header-item item-7">Tipo de Usuario</div>
  </div>

  <div class="row-table" *ngFor="let usuario of usuarios;">
    <div class="row-item item-1">{{usuario.Name}}&nbsp;{{usuario.Lastname}}</div>
    <div class="row-item item-2">{{usuario.Identification}} </div>
    <div class="row-item item-3">{{usuario.Email}}</div>
    <div class="row-item item-4">{{usuario.PhoneNumber}}</div>
    <div class="row-item item-5">{{usuario.Nickname}}</div>
    <div class="row-item item-6">{{usuario.UserState}}</div>
    <div class="row-item item-7">{{usuario.IDUserType.UserType}}</div>
  </div>
</div>