<div class="edit-form">
    <div class="edit-form-header">
        <h1>Información</h1>
    </div>
    <div class="edit-form-body">
        <div class="edit-info">
            <h2 class="info-title-1">Nombre</h2>
            <input type="text" name="" id="">
        </div>
        <div class="edit-info">
            <h2 class="info-title-2">Identificación</h2>
            <input type="text" name="" id="">
        </div>
        <div class="edit-info">
            <h2 class="info-title-3">Email</h2>
            <input type="text" name="" id="">
        </div>
        <div class="edit-info">
            <h2 class="info-title-4">Celular</h2>
            <input type="text" name="" id="">
        </div>
        <div class="edit-info">
            <h2 class="info-title-5">Nombre de Usuario</h2>
            <input type="text" name="" id="">
        </div>
        <div class="edit-info">
            <h2 class="info-title-6">Estado</h2>
            <input type="text" name="" id="">
        </div>
        <div class="edit-info">
            <h2 class="info-title-7">Tipo de Usuario</h2>
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="edit-form-bottom">
        <div class="button-left">
            <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        </div>
        <div class="button-right">
            <fa-icon [icon]="['fas', 'save']"></fa-icon>
        </div>
    </div>
</div>